.detail {
  margin-bottom: 48px;

  &-player {
    width: 640px;
  }

  .media-body {
    color: #fff;
    font-size: 20px;
  }

  &-name {}

  &-tagline {
    color: #c5c3c3;
  }

  &-synthesis {
    color: #c5c3c3;

    span {

      &:not(:first-child) {
        margin-left: 0.8rem;
      }

      &:not(:last-child) {
        padding-right: 0.8rem;
        border-right: 1px solid #c5c3c3;
      }

      i {
        margin-right: 0.5rem;
      }
    }
  }

  &-genres,
  &-language {

    span:last-child {
      color: #948e8e;
    }
  }
}

.cast-crew {
  margin-bottom: 48px;

  &-title {
    margin-bottom: 24px;
  }

  &-main {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &-lists {
    display: flex;
    flex-wrap: nowrap;
  }

  &-item {

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .card {
    width: 12rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s linear 0s;

    &:hover {
      transform: scale(1.1);
    }

    &-title {
      color: black;
    }

    &-text {
      color: #999;
    }
  }
}

.review {
  margin-bottom: 48px;

  &-title {
    margin-bottom: 24px;
  }

  &-item {

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &-avatar {
    width: 120px;
    border-radius: 50%;
  }

  &-author {}

  &-created-time {}

  &-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow : hidden;
    text-overflow: ellipsis;
  }

  &-link {
    text-decoration: underline;
  }
}
